* { box-sizing: border-box; }

header {
	height: 200px;
}

/* Зробив, як міг. Ми такого не вчили */
body {
	background-color: lightgray;
}

button {
	position: relative;
}

button::after {
	content: attr(data-tooltip);

	position: absolute;

	background-color: purple;
	color: white;
	padding: 4px 8px;
	white-space: nowrap;

	border-radius: 10px;

	transform: translateY(0%) translateX(0%);

	opacity: 0;

	transition: 500ms;
}

button:hover::after {
	opacity: 1;

	transform: translateY(-150%) translateX(-50%);

	transition: 500ms;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	max-width: 960px;
	margin: 0 auto;
}

@media (max-width: 650px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

.grid-segment {
	background-color: white;
	border-radius: 6px;
}

table {
	width: 100%;
}

input[type="text"]:focus-visible {
	border: 4px solid blue;
}

.find-button{
	background-color: blue;
	color: white;
	font-size: 16px;

	border-radius: 12px;
}

.find-button:focus-visible {
	background-color: white;
	color: black;
	border: 4px solid blue;
}

.bought {
	text-decoration: line-through;
}

.button-less {
	text-align: right;
}

.button-less button {
	background-color: red;
	color: white;
	border-radius: 10px;
	border-color: red;
	width: 24px;
}

.button-less button:focus-visible {
	border: 4px solid blue;
}

.inactive button {
	background-color: lightcoral;
	border-color: lightcoral;
}

.item-number {
	background-color: lightgray;
	border-radius: 4px;
	width: 24px;
	text-align: center;
}

.button-more button {
	background-color: green;
	color: white;
	border-radius: 10px;
	border-color: green;
	width: 24px;
}

.button-more button:focus-visible {
	border: 4px solid blue;
}

.button-bought {
	text-align: right;
}

.button-bought button {
	border-radius: 4px;
	border-color: lightgray;
}

.button-bought button:focus-visible {
	border: 4px solid blue;
}

.button-bought .cancel {
	background-color: red;
	color: white;
	border-color: red;
}

.button-bought .cancel:focus-visible {
	border: 4px solid blue;
}

.result-text {
	font-size: 24px;
	font-weight: bold;
}

.single-item {
	display: inline-block;
	background-color: lightgray;
	border-radius: 4px;
	padding-top: 2px;
	height: 24px;
}

.amount {
	background-color: orange;
	border-radius: 10px;
	
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	color: white;
}

.bage {
	position: fixed;
	bottom: -50px;
	left: 50px;
	width: 400px;
	height: 70px;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	font-family: Arial, Helvetica, sans-serif;
	padding-top: 2px;
	text-align: center;

	background-color: rgb(49, 5, 119);
	Color: white;

	transform: translateY(0px);

	transition: 500ms;
}

.buy-list-text {
	font-weight: bold;
}

.small-text {
	font-size: 12px;
}

.bage:hover {
	transform: translateY(-40px);
	background-color: darkmagenta;
	transition: 500ms;
}

@media print {
	.bage {
		bottom: -20px;
		border: 2px solid rgb(49, 5, 119);
		background-color: white;
		color: rgb(49, 5, 119);
	}

	.buy-list-text {
		display: none;
	}
}